
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1><%= t '.email.head' %></h1>
    <p>
      <b><%= t '.email.created_at' %> </b> <%= @rent.created_at %><br>
      <b><%= t '.book.details' %> </b>
      <br>
          <b><%= t '.book.genre' %> </b><%= @book.genre %><br>
          <b><%= t '.book.author' %> </b><%= @book.author %><br>
          <b><%= t '.book.publisher' %> </b><%= @book.publisher %><br>
          <b><%= t '.book.year' %> </b><%= @book.year %><br>
          <b><%= t '.book.title' %> </b><%= @book.title %><br>
          <b><%= t '.book.image' %> </b><%= @book.image %><br>

      <b><%= t '.email.initial_date' %> </b> <%= @rent.initial_date %><br>
      <b><%= t '.email.initial_date' %> </b> <%= @rent.final_date %><br>
    </p>

    <p><%= t '.email.bye' %></p>
  </body>
</html>
